.signupwrap {
    background-color: #d8edf5;
    height:90px;
}
.signupheader {
    display: flex;
    align-items: center; /* Center align vertically */
    justify-content: center; /* Center align horizontally */
    height: 90%; /* Set the height to 100% to take up the entire parent div */
    text-align: center;
    font-size: 40px;

}

.signupform {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20%;
}

.signupform .form-label {
    margin-top: 15px; /* Increase the spacing between labels and inputs */
}

.signupbtn {
    margin-left:33%;
    margin-top: 40px;
}